body{
    background-image: url("../img/texture.jpg");
    background-size: cover;
}
ul{
    background-color: #FFF;
}
nav{
    position: absolute;
    bottom: 30px;
    width: 100%;
}
li{
    font-family: "Corbel", "Adobe Gothic Std B";
    font-size:18px;
    font-weight: bold;
}
a{
    color:#B73CC5;
}
#logoull{
    left: 70px;
    position: absolute;
}